<form class="editable">
  <header class="sheet-header">
    <h1><input name="name" type="text" value="{{actor.name}}" /></h1>
  </header>

  <section class="sheet-body">
    {{!-- Conteúdo da ficha aqui --}}
  </section>
</form>
